:root {
  --color-sec: #ffffff;
}
* {
  text-align: center;
}

.route {
  width: 100%;
}
form {
  display: grid;
  place-items: center;
  gap: 0.75rem;
  border: 2px solid var(--color-sec);
  border-radius: 15px;
  padding: 1rem;
  width: 250px;
}
label {
  display: flex;
  place-items: center;
  gap: 0.5rem;
}
.inputs {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
input, select, option {
  border: none;
  border-radius: 8px;
  padding: 1em 0.5em;
  text-align: center;
  font-weight: 500;
  background-color: #1a1a1a;
  transition: 0.25s;
}
input {
  width: 50px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.diagram {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.distance {
  vertical-align: sub;
  font-size: 0.75rem;
}
.relation {
  display: flex;
  place-items: center;
  justify-content: center;
}
.bracket {
  overflow: hidden;
  width: 75px;
  height: max-content;
  
  & svg {
    height: 220px;
  }
}
.table_result {
  display: flex;
  overflow-x: auto;

  .column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #fff;
  }
}

.next_node {
  color: aqua;
}
.prev_node {
  color: yellow;
}
.parcial_node {
  color: red;
}
.final_node {
  color: lightcoral;
}

.table {
  display: grid;
  gap: 1rem;
  /* border: 2px solid var(--color-sec); */
  border-radius: 15px;
  padding: 1rem;
  width: 300px;
  margin: auto;

  & p {
    display: flex;
    gap: 8px;
    text-align: start;
  }
  .color {
    display: table-cell;
    margin: auto 0;
    width: 15px;
    height: 15px;
  }
  .aqua {
    background: aqua;
  }
  .yellow {
    background: yellow;
  }
  .red {
    background: red;
  }
  .lightcoral {
    background: lightcoral;
  }
  .bold {
    font-weight: bold;
  }
}
.widget {
  display: flex;
  justify-content: space-between;
  place-items: center;
  position: relative;
  margin: 30px;
  transition-timing-function: linear;
  animation-timing-function: linear;

  &:has(.one_node) {
    justify-content: center;
  }

  &:has(.node)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    z-index: -1;
  }
  &:has(.node)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    z-index: -1;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.47);
    transform-origin: left;
    animation: left-to-right 3s linear infinite;
  }
  
}
@keyframes left-to-right {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.node,
.one_node {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: #fff 1px solid;
  background: #000;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-block: 2rem;

  & div img {
    width: fit-content;
    max-width: 400px;
  }
}